<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML">
        </script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
              }
            });
        </script>

        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>初等整数論</title>
    </head>
    <body>
        <h2>\( \displaystyle \dagger \ \ \)初等整数論のページ</h2>
        <h4>
            <form method="get" action="/EulerPhiFunction" onsubmit="return false;">
                <input id="EulerPhiFunction" name="EulerPhiFunction" type="text" placeholder= "you can get Euler function value">
            </form>
        </h4>
        <h4 id="stringOfEulerPhiFunctionCalculate"/>
        <h4>
            <form method="get" action="/PrimeNumsUnderSetVal" onsubmit="return false;">
                <input id="PrimeNumsUnderSetVal" name="PrimeNumsUnderSetVal" type="text" placeholder= "you can get primes under this value">
            </form>
        </h4>
        <h4 id="stringOfPrimeNumsUnderSetVal"/>
        <h4>
            <form method="get" action="/isPrime" onsubmit="return false;">
                <input id="isPrime" name="isPrime" type="text" placeholder= "you can judge prime">
            </form>
        </h4>
        <h4 id="stringOfIsPrime"/>
        <h4 th:text="${cayleyTable}" />
    </body>
    <script type="text/javascript" th:src="@{/js/integer.js}"></script>
</html>
