<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/js/jquery3-6-0.js}"></script>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <meta charset="UTF-8">
    <title>初等整数論</title>
</head>
<body>
    \[初等整数論のページ\]
    <h4>
        <input name="integer" type="text" placeholder= "input integer you want to factorization">
    </h4>
    <h3 th:text="${primeFactors}"></h3>
    \( \displaystyle x = -\frac{b}{a}\)
</body>
</html>
<script type="text/javascript" th:src="@{/js/integer.js}"></script>